openapi: 3.0.2
info:
  title: Web API - Airzone Cloud
  description: >-
    # Airzone Cloud Web API interface.

    ## RESTful service for user-cloud communications.

    ### Introduction

    The following document describes the use of the Airzone Cloud Web API, hereafter referred to as the Web API. This includes the authentication flow, all available RESTful requests/actions, and the details of the newly introduced WebSocket interface.

    ### Authentication

    The authentication mechanism is based on [JSON Web Tokens (JWT)](https://en.wikipedia.org/wiki/JSON_Web_Token) exchange. Each login request issues a pair of tokens: `token` and `refresh_token`.

    The `token` must be used in every authenticated request, with the awareness that it can expire. In the event of expiration, a new pair can be requested using the corresponding `refresh_token`.

    ### WebSocket Interface

    In addition to the RESTful service, a WebSocket interface is now available, providing a real-time communication channel between clients and the Airzone Cloud. For documentation, example usage, and guidelines on how to integrate with the WebSocket interface, please refer to the [WebSocket API documentation](https://developers.airzonecloud.com/docs/websocket-api/).

    The WebSocket API complements our RESTful services by offering a persistent connection for scenarios where immediate data push and real-time updates are crucial.



  version: "1.0"
  contact:
    name: Airzone
    email: devapps@altracorporacion.es
servers:
  - url: "https://m.airzonecloud.com/api/v1"
    description: Production environment base URL

paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: "Token generation endpoint"
      description: "It checks if the user is registered in the platform."
      requestBody:
        description: "Authentication using email"
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  description: "User email"
                  example: "example@email.com"
                  type: string
                  pattern: /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i
                password:
                  description: "Password"
                  example: "secretpassword1234"
                  type: string
                  minLength: 8
                  maxLength: 64
      responses:
        "200":
          description: User logged in and pair token/refreshToken created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login-response'

        "400":
          description: >
            Error responses: *badParams*, *userNotExist*, *userNotConfirmed*.
              * *badParams*: input validation error.
              * *userNotExist*: email/password pair doesn't match any existing user
              * *userNotConfirmed*: user hasn't confirmed its account yet.
          content:
            application/json:
              examples:
                badParams:
                  $ref: '#/components/examples/badParams'
                userNotExist:
                  $ref: '#/components/examples/userNotExist'
                userNotConfirmed:
                  $ref: '#/components/examples/userNotConfirmed'
              schema:
                $ref: '#/components/schemas/error-response'

  /auth/refreshToken/{refreshToken}:
    get:
      tags:
        - Auth
      summary: "Token refresh endpoint"
      description: "It generates a new pair token/refreshtoken given a valid refreshtoken. Once refreshed, the old token/refreshToken are invalidated"
      parameters:
        - in: path
          name: refreshToken
          schema:
            type: string
          required: true
          description: "the user's valid refreshToken"

      responses:
        "200":
          description: Successfully created new pair token/refreshToken.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: "a new valid JWT"
                  refreshToken:
                    type: string
                    description: "a new valid refreshToken"

        "400":
          description: >
            Error responses: *badParams*, *userNotExist*:
              * *badParams*: invalid refresh token format.
              * *userNotExist*: user no longer exists.
          content:
            application/json:
              examples:
               badParams:
                  $ref: '#/components/examples/badParams'
              schema:
                $ref: '#/components/schemas/error-response'
        "403":
          description: >
            Error responses: *tokenNotFound*:
              * *tokenNotFound*: no credential records match the refreshToken specified in the request parameters.
          content:
            application/json:
              examples:
                tokenNotFound:
                  $ref: '#/components/examples/tokenNotFound'
              schema:
                $ref: '#/components/schemas/error-response'
        "500":
          description: >
            Error responses: *createJWT*:
              * *createJWT*: Internal error. Unable to create new token pair.
          content:
            application/json:
              examples:
                tokenNotFound:
                  $ref: '#/components/examples/createJWT'
              schema:
                $ref: '#/components/schemas/error-response'

  /installations:
    get:
      security:
        - bearerAuth: []
      tags:
        - Installations
      summary: Retrieves user's installations
      description: >-
        It returns the user's confirmed installations in a paged way.
        By default, it limits to 10 installations. Page and num elements can be set (num elements cannot be over 10)
        It allows filtering by the following fields:
          * name
          * mac
      parameters:
        - in: query
          name: filterParam
          schema:
            type: string
            enum:
              - mac
              - name
          required: false
          description: Filter to apply
        - in: query
          name: filterValue
          schema:
            type: string
          required: false
          description: Value of the filter. Necessary if filterParam is set
        - in: query
          name: items
          schema:
            type: number
          required: false
          description: Number of items to return. Max 10, minimum 1.
        - in: query
          name: page
          schema:
            type: number
          required: false
          description: Page to return of items.
      responses:
        "200":
          description: Successful Response. Returns the installations.
          content:
            application/json:
              # examples:

              schema:
                $ref: "#/components/schemas/get-installation-response"
        "400":
          description: >
            Error responses: *badParams*.
              * *badParams*: Error in input validation; Cases:
                * if page is < 0
                * if items is <=0 or > 10
                * if filterParam is not a valid filter
                * if filterParam is defined but no filterValue is present
          content:
            application/json:
              examples:
                badParams:
                  $ref: "#/components/examples/badParamsitems"
              schema:
                $ref: "#/components/schemas/error-response"

  /installations/{installationId}:
    parameters:
      - in: path
        name: installationId
        schema:
          type: string
        required: true
        description: The installation's id
    get:
      security:
        - bearerAuth: []
      summary: Returns the user's relation with the installation
      tags:
        - Installations
      responses:
        "200":
          description: Successful response. Returns the installation relation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user-installations-record"
        "422":
          description: >
            Error responses: *userNotIncluded*.
              * *userNotIncluded*: happens when user making the request doesn't belong to the installation
    put:
      security:
        - bearerAuth: []
      summary: Execute an Installation action
      description: >
        Endpoint to execute a command to all the climate zones in an installation.
        Valid commands:
          * **speed**: number; Percentage of fan speed. number between 0 - 100, or 'auto' if auto.
          * **mode**: number; Device's mode. Mode must be included in the mode_available parameter of at least one device of the installation. Available modes:
            * **0**:  Stop
            * **1**:  Auto
            * **2**:  Cooling
            * **3**:  Heating
            * **4**:  Ventilation
            * **5**:  Dehumidifier/Dry mode
            * **6**:  Emergency Heat mode
            * **7**:  Heat air mode (only compatible systems)
            * **8**:  Heat radiant mode (only compatible systems)
            * **9**:  Heat combined mode (only compatible systems)
            * 1**0**:  Cooling air mode (only compatible systems)
            * 1**1**:  Cooling radiant mode (only compatible systems)
            * 1**2**:  Cooling combined mode (only compatible systems)
          * **setpoint**: number; applied to the actual mode. Additional 'opts' object must be set with the units:
            * **units**: number; 0 celsius; 1 fahrenheit
          * power: boolean; On/Off
          * timer: number; Timer configuration for turning off the zone. Timer value must be included in the timer_values parameter of at least one device of the installation.  Available values:
            * **0**: Timer off
            * **30**: 30 minutes
            * **60**: 60 minutes
            * **90**: 90 minutes
          * sleep: number; Sleep configuration. Sleep value must be included in the sleep_values parameter of at least one device of the installation. Available values:
            * **0**: Timer off
            * **30**: 30 minutes
            * **60**: 60 minutes
            * **90**: 90 minutes
          * eco_conf: string; Eco configuration. Configuration must be included in the eco_values parameter of at least one device of the installation. Available modes:
            * **'off'**: Eco configuration off
            * **'manual'**: Eco configuration set to manual mode: Master zone sets the setpoint limits
            * **'a'**: A energy-saving eco mode
            * **'a_p'**: A+ energy-saving eco mode
            * **'a_pp'**: A++ energy-saving eco mode
          * **usermode_conf**: string; User mode function. Usermode must be included in the usermode_values parameter of at least one device of the installation. Avaliable usermode_values:
            * **'stop'**: Stop user mode configuration
            * **'comfort'**: Comfort user mode configuration
            * **'unoccupied'**: Unoccupied user mode configuration
            * **'night'**: Night user mode configuration
            * **'eco'**: Eco user mode configuration
            * **'vacation'**: Vacation user mode configuration
          * **aq_mode_conf**: string; Configuration for the ionization function. Value must be included in the aq_mode_values parameter of at least one device of the installation. Available values:
            * **'off'**: Ionization deactivated
            * **'on'**: Ionization activated
            * **'auto'**: Automatic (depending on the air quality index)
          * **aq_vent_mode_conf**: string; Ventilation configuration for the AirQSensor's external fan. Value must be included in the aq_mode_values parameter of at least one device of the installation.  Available values:
            * **'off'**: Ionization deactivated
            * **'on'**: Ionization activated
            * **'auto'**: Automatic (depending on the air quality index)
      tags:
        - Installations
      requestBody:
        description: "Body params"
        content:
          application/json:
            examples:
              setpoint:
                $ref: "#/components/examples/postInstallationGroupSetpointChange"
              cool mode:
                $ref: "#/components/examples/postInstallationGroupModeChange"
            schema:
              $ref: "#/components/schemas/exec-group-installation-body-params"
      responses:
        "204":
          description: Successfully applied
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: when the user hasn't yet confirmed its invitation to the installation
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "400":
          description: >
            Error responses: *badParams*, *commandNotSupported*.
              * *badParams*: Error in input validation;
              * *commandNotSupported*: if no devices in the installation allow configuring any of the parameters set
          content:
            application/json:
              examples:
                commandNotSupported:
                  $ref: "#/components/examples/commandNotSupported"
                badParams:
                  $ref: "#/components/examples/badParams"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *userNotIncluded*.
              * *userNotIncluded*: happens when user making the request doesn't belong to the installation or isn't allowed in the group
          content:
            application/json:
              examples:
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
              schema:
                $ref: "#/components/schemas/error-response"

  /installations/{installationId}/group/{groupId}:
    parameters:
      - in: path
        name: installationId
        schema:
          type: string
        required: true
        description: The installationId
      - in: path
        name: groupId
        schema:
          type: string
        required: true
        description: The groupId
    put:
      security:
        - bearerAuth: []
      summary: Execute Group action
      description: >
        Endpoint to execute a command to all the devices in a group inside an installation.
        Valid commands:
          * **speed**: number; Percentage of fan speed. number between 0 - 100, or 'auto' if auto.
          * **mode**: number; Device's mode. Mode must be included in the mode_available parameter of at least one device of the installation. Available modes:
            * **0**:  Stop
            * **1**:  Auto
            * **2**:  Cooling
            * **3**:  Heating
            * **4**:  Ventilation
            * **5**:  Dehumidifier/Dry mode
            * **6**:  Emergency Heat mode
            * **7**:  Heat air mode (only compatible systems)
            * **8**:  Heat radiant mode (only compatible systems)
            * **9**:  Heat combined mode (only compatible systems)
            * 1**0**:  Cooling air mode (only compatible systems)
            * 1**1**:  Cooling radiant mode (only compatible systems)
            * 1**2**:  Cooling combined mode (only compatible systems)
          * **setpoint**: number; applied to the actual mode. Additional 'opts' object must be set with the units:
            * **units**: number; 0 celsius; 1 fahrenheit
          * power: boolean; On/Off
          * timer: number; Timer configuration for turning off the zone. Timer value must be included in the timer_values parameter of at least one device of the installation.  Available values:
            * **0**: Timer off
            * **30**: 30 minutes
            * **60**: 60 minutes
            * **90**: 90 minutes
          * sleep: number; Sleep configuration. Sleep value must be included in the sleep_values parameter of at least one device of the installation. Available values:
            * **0**: Timer off
            * **30**: 30 minutes
            * **60**: 60 minutes
            * **90**: 90 minutes
          * eco_conf: string; Eco configuration. Configuration must be included in the eco_values parameter of at least one device of the installation. Available modes:
            * **'off'**: Eco configuration off
            * **'manual'**: Eco configuration set to manual mode: Master zone sets the setpoint limits
            * **'a'**: A energy-saving eco mode
            * **'a_p'**: A+ energy-saving eco mode
            * **'a_pp'**: A++ energy-saving eco mode
          * **usermode_conf**: string; User mode function. Usermode must be included in the usermode_values parameter of at least one device of the installation. Avaliable usermode_values:
            * **'stop'**: Stop user mode configuration
            * **'comfort'**: Comfort user mode configuration
            * **'unoccupied'**: Unoccupied user mode configuration
            * **'night'**: Night user mode configuration
            * **'eco'**: Eco user mode configuration
            * **'vacation'**: Vacation user mode configuration
          * **aq_mode_conf**: string; Configuration for the ionization function. Value must be included in the aq_mode_values parameter of at least one device of the installation. Available values:
            * **'off'**: Ionization deactivated
            * **'on'**: Ionization activated
            * **'auto'**: Automatic (depending on the air quality index)
          * **aq_vent_mode_conf**: string; Ventilation configuration for the AirQSensor's external fan. Value must be included in the aq_mode_values parameter of at least one device of the installation.  Available values:
            * **'off'**: Ionization deactivated
            * **'on'**: Ionization activated
            * **'auto'**: Automatic (depending on the air quality index)
      tags:
        - Installations
      requestBody:
        description: "Body params"
        content:
          application/json:
            examples:
              setpoint:
                $ref: "#/components/examples/postInstallationGroupSetpointChange"
              cool mode:
                $ref: "#/components/examples/postInstallationGroupModeChange"
            schema:
              $ref: "#/components/schemas/exec-group-installation-body-params"
      responses:
        "204":
          description: Successfully applied
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: when the user hasn't yet confirmed its invitation to the installation
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "400":
          description: >
            Error responses: *badParams*, *commandNotSupported*.
              * *badParams*: Error in input validation; if no valid params are sent, or they don't pass the validation
              * *commandNotSupported*: if no devices in the group allow configuring that parameter
          content:
            application/json:
              examples:
                commandNotSupported:
                  $ref: "#/components/examples/commandNotSupported"
                badParams:
                  $ref: "#/components/examples/badParams"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *userNotIncluded*.
              * *userNotIncluded*: happens when user making the request doesn't belong to the installation or isn't allowed in the group
          content:
            application/json:
              examples:
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
              schema:
                $ref: "#/components/schemas/error-response"

  /installations/location/{locationId}:
    parameters:
      - in: path
        name: locationId
        schema:
          type: string
        required: true
        description: The locationId
    get:
      security:
        - bearerAuth: []
      summary: Returns the location information given the locationId
      description: >
        Returns the location information given the locationId.
      tags:
        - Installations
      responses:
        "200":
          description: Successful response. Returns the location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/location"
        "404":
          description: >
            Error responses: *locationNotFound*.
              * *locationNotFound*: no location found with that id
          content:
            application/json:
              examples:
                locationNotValid:
                  $ref: "#/components/examples/locationNotValid"
              schema:
                $ref: "#/components/schemas/error-response"

  /devices/{deviceId}:
    parameters:
      - in: path
        name: deviceId
        schema:
          type: string
        required: true
        description: The Device's id
    patch:
      security:
        - bearerAuth: []
      summary: Apply a change to a device's parameter
      description: Changes a device's parameter. If the parameter to set is of type advanced, user must be admin
      tags:
        - Devices
      requestBody:
        description: >

          Endpoint to update a device's parameter.

          Valid parameters depend by device type: the parameter must be present in it's status or configuration,
          and values must be included in the corresponding values array. See /devices/{deviceId}/config and /devices/{deviceId}/status for parameter information.
          Apart from those parameters, there are other utility parameters that can be set:
            * 'setpoint': changes a device's setpoint for it's actual operation mode
        content:
          application/json:
            schema:
              type: object
              required:
                - param
                - value
                - installation_id
              properties:
                param:
                  description: >
                    Parameter to update. Valid parameters depend by device type: the parameter must be present in it's status or configuration,
                    and values must be included in the corresponding values array. See /devices/{deviceId}/config and /devices/{deviceId}/status for parameter information.
                    Apart from those parameters, there are other utility parameters that can be set:
                      * 'setpoint': changes a device's setpoint for it's actual operation mode
                  example: "setpoint"
                  type: string
                value:
                  description: "Value of the parameter to set."
                  example: 24.5
                  oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                installation_id:
                  description: "Installation_id of the device"
                  example: 5aa002e569702d0faea90000
                  type: string
                opts:
                  type: object
                  description: >
                    Optional parameters.
                    In setpoints, units parameter must be set
                  nullable: true
                  properties:
                    units:
                      type: number
                      description: Units of the setpoint set
                      example: 0
      responses:
        "204":
          description: Successful. Applied change.
        "400":
          description: >
            Error responses: *badParams*, *stageNotSupported*, *outOfRange*, *speedNotValid*, *commandNotSupportedMode*, *modeNotSupported*:
              * *badParams*: Error in input value
              * *stageNotSupported*: Error in trying to set a non valid stage
              * *outOfRange*: Error when trying to set a setpoint out of range
              * *speedNotValid*: Error when trying to set a non valid speed value
              * *commandNotSupportedMode*: Error when trying to set a command, but device is in a state that doesn't allow that change
              * *modeNotSupported*: Error when trying to set an invalid mode
          content:
            application/json:
              examples:
                badParams:
                  $ref: "#/components/examples/badParams"
                stageNotSupported:
                  $ref: "#/components/examples/stageNotSupported"
                outOfRange:
                  $ref: "#/components/examples/outOfRange"
                speedNotValid:
                  $ref: "#/components/examples/speedNotValid"
                commandNotSupportedMode:
                  $ref: "#/components/examples/commandNotSupportedMode"
                modeNotSupported:
                  $ref: "#/components/examples/modeNotSupported"
              schema:
                $ref: "#/components/schemas/error-response"
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: when user is not admin of the installation and parameter to set is adv_conf
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *userNotIncluded*, *deviceNotFound*, *deviceNotConnected*.
              * *userNotIncluded*: happens when user making the request doesn't belong to the installation
              * *deviceNotFound*: happens when the device Id doesn't refer to any device in the user's installation
              * *deviceNotConnected*: when the webserver is not online
          content:
            application/json:
              examples:
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
                deviceNotFound:
                  $ref: "#/components/examples/deviceNotFound"
                deviceNotConnected:
                  $ref: "#/components/examples/deviceNotConnected"
              schema:
                $ref: "#/components/schemas/error-response"

  /devices/{deviceId}/config:
    parameters:
      - in: path
        name: deviceId
        schema:
          type: string
        required: true
        description: The Device's id
      - in: query
        name: installation_id
        schema:
          type: string
        required: true
        description: The Installation's id to which the device belongs
      - in: query
        name: type
        schema:
          type: string
          enum:
            - all
            - user
            - advanced
        required: true
        description: >
          type of configuration. If type === all, returns all config;
          If type === user, returns user config;
          If type === advanced; returns advanced config.
          In order to ask for advanced or all config, user must be admin
    get:
      security:
        - bearerAuth: []
      summary: Get the device's configuration
      tags:
        - Devices
      responses:
        "200":
          description: Successful. Returning zone configuration
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AidooDevice_AdvConf_Obj"
                  - $ref: "#/components/schemas/AidooDevice_UserConf_Obj"
                  - $ref: "#/components/schemas/AidooITDevice_AdvConf_Obj"
                  - $ref: "#/components/schemas/AidooITDevice_UserConf_Obj"
                  - $ref: "#/components/schemas/AidooACS_AdvConf_Obj"
                  - $ref: "#/components/schemas/AidooVMCDevice_AdvConf_Obj"
                  - $ref: "#/components/schemas/AZDevice_AdvConf_Obj"
                  - $ref: "#/components/schemas/AZDevice_UserConf_Obj"
                  - $ref: "#/components/schemas/AZSystem_AdvConf_Obj"
                  - $ref: "#/components/schemas/AZEnergyClamp_AdvConf_Obj"
                  - $ref: "#/components/schemas/AZCCP_AdvConf_Obj"
                  - $ref: "#/components/schemas/AZDeshum_AdvConf_Obj"
              examples:
                User configuration Airzone thermostat device for VAF systems (device type 'az_zone'):
                  value:
                    step: { fah: 2, celsius: 1 }
                    sp_lite_base_conf: { celsius: 20, fah: 68 }
                    range_sp_lite_base_max: { celsius: 30, fah: 86 }
                    range_sp_lite_base_min: { celsius: 18, fah: 64 }
                    local_vent: true
                    timer: { value: 0, action: {} }
                    timer_values: [ 0, 30, 60, 90 ]
                    leds_active: true
                Advanced configuration for Aidoo WiFi (device type 'aidoo'):
                  value:
                    isConnected: true,
                    connection_date: '2023-11-25T07:51:32.780Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    warnings: []
                    manufacturer: { _id: 22, text: 'TOS' }
                    heating_available: null
                    max_heat_setpoint: null
                    max_heat_setpoint_values: []
                    cooling_available_readonly: null
                    cooling_available: null
                    min_cold_setpoint: null
                    min_cold_setpoint_values: []
                    heating_available_readonly: null
                    step: { fah: 1, celsius: 0.5 }
                    units: 0
                    mode_available: [ 1, 2, 4, 5 ]
                    speed_values: [ 0, 2, 3, 4, 5, 6 ]
                    speed_type: 0
                    tai_temp: { celsius: null, fah: null }
                    work_temp: { celsius: 26.5, fah: 80 }
                    local_temp: { celsius: 24, fah: 75 }
                    range_sp_cool_air_max: { celsius: 29, fah: 84 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    return_temp: { celsius: 26.5, fah: 80 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 29, fah: 84 }
                    range_sp_auto_air_min: { celsius: 18, fah: 64 }
                    range_sp_auto_air_max: { celsius: 29, fah: 84 }
                    name: 'Bedroom  2'
                    fan_speed_real: 64
                    autochange_time_conf: null
                    autochange_time_values: []
                    autochange_diff_temp_conf: null
                    autochange_diff_temp_values: []
                    dualsp_auto_conf: false
                    sp_limits_forced: fals
                Advanced configuration for Aidoo Pro Inverter/VRF(device type 'aidoo_it'):
                  value:
                    isConnected: true
                    connection_date: '2024-01-16T21:42:35.591Z'
                    disconnection_date: '2024-01-16T21:43:58.070Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    warnings: []
                    aq_present: false
                    aq_sensor: false
                    manufacturer: { _id: 5, text: 'MEL' }
                    dualsp_auto_conf: false,
                    manuf_allows_local_temp_ee: true
                    manuf_working_local_temp_ee: false
                    mode_available: [ 1, 2, 3, 4, 5 ]
                    range_sp_auto_air_max: { celsius: 28.5, fah: 83 }
                    range_sp_auto_air_min: { celsius: 19.5, fah: 67 }
                    range_sp_cool_air_max: { celsius: 30.5, fah: 87 }
                    range_sp_cool_air_min: { celsius: 19.5, fah: 67 }
                    range_sp_dry_air_max: { celsius: 30.5, fah: 87 }
                    range_sp_dry_air_min: { celsius: 19.5, fah: 67 }
                    range_sp_hot_air_max: { celsius: 28.5, fah: 83 }
                    range_sp_hot_air_min: { celsius: 17, fah: 63 }
                    step: { fah: 1, celsius: 0.5 }
                    heating_available: null
                    cooling_available: null
                    sp_limits_forced: false
                    min_cold_setpoint: null
                    min_cold_setpoint_values: []
                    max_heat_setpoint: null
                    max_heat_setpoint_values: []
                    speed_values: [ 0, 2, 4, 6 ]
                    speed_type: 0
                    units: 1
                    fan_speed_real: 1
                    return_temp: { celsius: 19.4, fah: 67 }
                    tai_temp: { celsius: null, fah: null }
                    work_temp: { celsius: 19.4, fah: 67 }
                    local_temp: { celsius: 19.4, fah: 67 }
                Advanced configuration for Aidoo Pro Inverter/VRF  (device type 'aidoo_it') with AirQ sensor:
                  value:
                    isConnected: true
                    connection_date: '2023-10-24T07:06:05.171Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    aq_present: true
                    aq_hum_thres_range_min: 0
                    aq_hum_thres_range_max: 100
                    aq_hum_thres_range_step: 1
                    aq_co2_thres_range_min: 0
                    aq_co2_thres_range_max: 2000
                    aq_co2_thres_range_step: 50
                    aq_pm2_5_thres_range_min: 0
                    aq_pm2_5_thres_range_max: 62
                    aq_pm2_5_thres_range_step: 1
                    aq_pm10_thres_range_min: 0
                    aq_pm10_thres_range_max: 300
                    aq_pm10_thres_range_step: 10
                    aq_tvoc_thres_range_min: 0
                    aq_tvoc_thres_range_max: 800
                    aq_tvoc_thres_range_step: 10
                    aq_sensor_reset_factory: true
                    warnings: []
                    aq_vmc: true
                    aq_vent_const: false
                    aq_min_voltage_conf: 1
                    aq_max_voltage_values: [
                      1, 2, 3, 4,  5,
                      6, 7, 8, 9, 10
                    ]
                    aq_max_voltage_conf: 10
                    aq_min_voltage_values: [
                      1, 2, 3, 4,  5,
                      6, 7, 8, 9, 10
                    ]
                    aq_heat_delta_conf: { celsius: 3, fah: 6 }
                    aq_heat_delta_values: [
                      { celsius: 0, fah: 0 },
                      { celsius: 1, fah: 2 },
                      { celsius: 2, fah: 4 },
                      { celsius: 3, fah: 6 },
                      { celsius: 4, fah: 8 },
                      { celsius: 5, fah: 10 }
                    ]
                    aq_cool_delta_conf: { celsius: 3, fah: 6 }
                    aq_cool_delta_values: [
                      { celsius: 0, fah: 0 },
                      { celsius: 1, fah: 2 },
                      { celsius: 2, fah: 4 },
                      { celsius: 3, fah: 6 },
                      { celsius: 4, fah: 8 },
                      { celsius: 5, fah: 10 }
                    ]
                    aq_sensor_fw: '1.0.1'
                    aq_hum_low_thres_gm: 40
                    aq_hum_low_thres_mb: 30
                    aq_hum_high_thres_gm: 60
                    aq_hum_high_thres_mb: 70
                    aq_co2_thres_gm: 800
                    aq_co2_thres_mb: 1200
                    aq_tvoc_thres_gm: 200
                    aq_tvoc_thres_mb: 600
                    aq_pm10_thres_gm: 50
                    aq_pm10_thres_mb: 250
                    aq_pm2_5_thres_mb: 12
                    aq_pm2_5_thres_gm: 50
                    aq_hum_weight: 0
                    aq_co2_weight: 80
                    aq_tvoc_weight: 20
                    aq_pm10_weight: 0
                    aq_pm2_5_weight: 0
                    aq_temp_weight: 0
                    aq_box_fw: '1.0.2'
                    fallback_conf: null
                    fallback_values: []
                    manufacturer: { _id: 5, text: 'MEL' }
                    autochange_diff_temp_conf: null
                    autochange_diff_temp_values: []
                    autochange_time_conf: null
                    autochange_time_values: []
                    dualsp_auto_conf: false,
                    name: 'Aidoo PRO'
                    range_sp_cool_air_min: { celsius: 0, fah: 32 }
                    range_sp_hot_air_max: { celsius: 0, fah: 32 }
                    sp_limits_forced: false
                    units: 0
                    step: { fah: 1, celsius: 1 }
                    aq_sensor: true
                Advanced configuration for Aidoo Pro Aerothermia climate component (device type 'aidoo_it') with energy consumption data:
                  value:
                    isConnected: true,
                    connection_date: '2023-11-30T14:05:20.674Z'
                    disconnection_date: '2023-11-30T14:02:06.871Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    aq_present: false
                    aq_sensor: false
                    warnings: []
                    manufacturer: { _id: 34, text: 'Panasonic Aquarea' }
                    dualsp_auto_conf: false
                    manuf_allows_local_temp_ee: false
                    manuf_working_local_temp_ee: false
                    mode_available: [ 1, 2, 3 ]
                    range_sp_auto_air_max: { celsius: 30, fah: 86 }
                    range_sp_auto_air_min: { celsius: 10, fah: 50 }
                    range_sp_cool_air_max: { celsius: 35, fah: 95 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 30, fah: 86 }
                    range_sp_hot_air_min: { celsius: 10, fah: 50 }
                    step: { fah: 1, celsius: 1 }
                    heating_available: null
                    cooling_available: null
                    sp_limits_forced: false
                    min_cold_setpoint: null
                    min_cold_setpoint_values: []
                    max_heat_setpoint: null
                    max_heat_setpoint_values: []
                    tai_temp: { celsius: 24, fah: 75 }
                    work_temp: { celsius: null, fah: null }
                    local_temp: { celsius: 22, fah: 72 }
                    is_tai_conf: false
                    units: 0
                    return_water_temp: { celsius: 24.5, fah: 76 }
                    ext_temp: { celsius: 6, fah: 43 }
                    disch_comp_temp_ue: { celsius: 28, fah: 82 }
                    consumption_ue: 3.4
                    gas_pipe_temp_iu: { celsius: 4, fah: 39 }
                    total_energy_consumpt_metering: null
                    total_energy_gen_heat: { value: 7, units: 'Wh', error: null }
                    total_energy_gen_cool: { value: 6, units: 'Wh', error: null }
                    total_energy_gen_acs: { value: 4, units: 'Wh', error: null }
                    total_energy_produced: null
                    total_consumpt_hp: null
                    consumpt_electric_heat_resistor: null
                    consumpt_electric_acs_resistor: null
                    consumpt_comp_heat: null
                    consumpt_comp_cool: null
                    consumpt_comp_acs: null
                    total_energy_consumpt: { value: 9, units: 'Wh', error: null }
                    actual_energy_gen_heat: { value: 5, units: 'W', error: null }
                    actual_energy_gen_cool: { value: 0, units: 'W', error: null }
                    actual_energy_gen_acs: { value: 10, units: 'W', error: null }
                    actual_energy_gen_pv: { value: 4, units: 'W', error: null }
                    actual_consumpt_hp: null
                    actual_consumpt_total_building: { value: 7, units: 'W', error: null }
                    pc_ue: 1.66
                    exp_valv_ue: 0
                    name: 'Aidoo Pro Aerothermia'
                    speed_values: []
                    speed_type: 0
                Advanced configuration for Airzone thermostat device (device type 'az_zone') with air purification module:
                  value:
                    system_type: 'zone'
                    aq_present: true
                    name: 'Blueface zone'
                    device_heat_stages_values: [ 'off', 'air' ]
                    device_heat_stages_conf: 'air'
                    device_cooling_stages_values: [ 'off', 'air' ]
                    device_cooling_stages_conf: 'air'
                    step: { fah: 1, celsius: 0.5 }
                    range_sp_hot_air_max: { celsius: 30, fah: 86 }
                    range_sp_hot_air_min: { celsius: 15, fah: 59 }
                    thermostat_type: 'blueface'
                    virtual_zone: false
                    basic_mode: false
                    master_conf: true
                    window_sensor_conf: 'closed'
                    window_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    local_temp: { celsius: 21.1, fah: 70 }
                    thermostat_fw: '3.52'
                    isConnected: true
                    range_sp_cool_air_max: { celsius: 30, fah: 86 }
                    range_sp_cool_air_min: { celsius: 15, fah: 59 }
                    range_sp_dry_air_max: { celsius: 30, fah: 86 }
                    range_sp_dry_air_min: { celsius: 15, fah: 59 }
                    range_sp_stop_air_max: { celsius: 30, fah: 86 }
                    range_sp_stop_air_min: { celsius: 15, fah: 59 }
                    range_sp_vent_air_max: { celsius: 30, fah: 86 }
                    range_sp_vent_air_min: { celsius: 15, fah: 59 }
                    warnings: []
                    ws_connected: true
                Advanced configuration for Airzone thermostat device for VAF systems (device type 'az_zone'):
                  value:
                    system_type: 'vaf'
                    autochange_diff_temp_conf: { celsius: 1, fah: 2 }
                    name: 'Living Room'
                    device_air_heating_stage_conf: 'dx'
                    device_air_heating_stage_values: [ 'dx', 'water', 'off' ]
                    device_rad_heating_stage_conf: 'off'
                    device_rad_heating_stage_values: [ 'electric', 'water', 'supply', 'off' ]
                    device_air_cooling_stage_conf: 'dx'
                    device_air_cooling_stage_values: [ 'dx', 'water', 'off' ]
                    device_rad_cooling_stage_conf: null
                    device_rad_cooling_stage_values: []
                    step: { fah: 2, celsius: 1 }
                    range_sp_cool_air_max: { celsius: 23, fah: 73 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 23, fah: 73 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_usermode_sp_eco_cool_min: { celsius: 18, fah: 64 }
                    range_usermode_sp_comfort_cool_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 23, fah: 73 }
                    range_sp_hot_air_min: { celsius: 17, fah: 63 }
                    range_sp_emerheat_air_max: { celsius: 23, fah: 73 }
                    range_sp_emerheat_air_min: { celsius: 17, fah: 63 }
                    range_usermode_sp_comfort_heat_max: { celsius: 30, fah: 86 }
                    range_usermode_sp_eco_heat_max: { celsius: 30, fah: 86 }
                    thermostat_type: 'lite'
                    usermode_sp_step: { fah: 1, celsius: 0.5 }
                    virtual_zone: false
                    basic_mode: false
                    presence_sensor_conf: 'deactivate'
                    presence_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    window_sensor_conf: 'deactivate'
                    window_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    master_addr: 1
                    master_addr_values: [ 1 ]
                    local_temp: { celsius: 29.6, fah: 85 }
                    local_module_fw: '7.21'
                    thermostat_fw: '7.20'
                    zone_weight_percent: 35
                    offset_env_cool_conf: { celsius: 0, fah: 0 }
                    offset_env_cool_values: [
                      { celsius: -2.5, fah: -5 },
                      { celsius: -2, fah: -4 },
                      { celsius: -1.5, fah: -3 },
                      { celsius: -1, fah: -2 },
                      { celsius: -0.5, fah: -1 },
                      { celsius: 0, fah: 0 },
                      { celsius: 0.5, fah: 1 },
                      { celsius: 1, fah: 2 },
                      { celsius: 1.5, fah: 3 },
                      { celsius: 2, fah: 4 },
                      { celsius: 2.5, fah: 5 }
                    ]
                    offset_env_heat_conf: { celsius: 0, fah: 0 }
                    offset_env_heat_values: [
                      { celsius: -2.5, fah: -5 },
                      { celsius: -2, fah: -4 },
                      { celsius: -1.5, fah: -3 },
                      { celsius: -1, fah: -2 },
                      { celsius: -0.5, fah: -1 },
                      { celsius: 0, fah: 0 },
                      { celsius: 0.5, fah: 1 },
                      { celsius: 1, fah: 2 },
                      { celsius: 1.5, fah: 3 },
                      { celsius: 2, fah: 4 },
                      { celsius: 2.5, fah: 5 }
                    ]
                    zone_weight_manual: true
                    usermode_sp_comfort_cool_conf: { celsius: 23, fah: 73 }
                    range_usermode_sp_comfort_cool_max: { celsius: 30, fah: 86 }
                    usermode_sp_comfort_heat_conf: { celsius: 20, fah: 68 }
                    range_usermode_sp_comfort_heat_min: { celsius: 15, fah: 59 }
                    usermode_sp_eco_cool_conf: { celsius: 25, fah: 77 }
                    range_usermode_sp_eco_cool_max: { celsius: 30, fah: 86 }
                    usermode_sp_eco_heat_conf: { celsius: 19, fah: 66 }
                    range_usermode_sp_eco_heat_min: { celsius: 15, fah: 59 }
                    usermode_sp_unnocupied_cool_conf: { celsius: 27, fah: 81 }
                    range_usermode_sp_unnocupied_cool_max: { celsius: 30, fah: 86 }
                    range_usermode_sp_unnocupied_cool_min: { celsius: 24, fah: 75 }
                    usermode_sp_unnocupied_heat_conf: { celsius: 17, fah: 63 }
                    range_usermode_sp_unnocupied_heat_max: { celsius: 22, fah: 72 }
                    range_usermode_sp_unnocupied_heat_min: { celsius: 15, fah: 59 }
                    usermode_sp_vacation_cool_conf: { celsius: 35, fah: 95 }
                    range_usermode_sp_vacation_cool_max: { celsius: 35.5, fah: 96 }
                    range_usermode_sp_vacation_cool_min: { celsius: 29, fah: 84 }
                    usermode_sp_vacation_heat_conf: { celsius: 10, fah: 50 }
                    range_usermode_sp_vacation_heat_max: { celsius: 16, fah: 61 }
                    range_usermode_sp_vacation_heat_min: { celsius: 10, fah: 50 }
                    isConnected: true
                    ws_connected: true
                    warnings: []
                Advanced configuration for Aidoo Pro Fancoil (device type 'aidoo_it'):
                  value:
                    machineready: true
                    errors: []
                    warnings: []
                    local_temp: { celsius: 21.9, fah: 71 }
                    aq_high_conf: null
                    aq_low_conf: null
                    range_aq_high_max: []
                    range_aq_high_min: []
                    range_aq_low_max: []
                    range_aq_low_min: []
                    fallback_conf: 'thermostat'
                    fallback_values: [ 'app', 'thermostat' ]
                    manufacturer: { _id: 41, text: 'Aidoo Pro Fancoil' }
                    mode_available: [ 2, 3, 4 ]
                    speed_values: [ 0, 2, 4, 6 ]
                    speed_type: 0
                    range_sp_cool_air_max: { celsius: 30, fah: 86 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 30, fah: 86 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 30, fah: 86 }
                    range_sp_hot_air_min: { celsius: 15, fah: 59 }
                    tai_temp: { celsius: null, fah: null }
                    work_temp: { celsius: 21.9, fah: 71 }
                    cool_battery_temp: { celsius: null, fah: null }
                    heat_battery_temp: { celsius: null, fah: null }
                    temp_auto_mode_active: null
                    dehum_function_active: null
                    dehum_function_humidity_conf: null
                    dehum_function_humidity_values: []
                    cooling_available: true
                    min_cold_setpoint: { celsius: 18, fah: 64 }
                    min_cold_setpoint_values: [
                      { celsius: 18, fah: 64 },
                      { celsius: 19, fah: 66 },
                      { celsius: 20, fah: 68 },
                      { celsius: 21, fah: 70 },
                      { celsius: 22, fah: 72 },
                      { celsius: 23, fah: 74 },
                      { celsius: 24, fah: 75 },
                      { celsius: 25, fah: 77 },
                      { celsius: 26, fah: 79 }
                    ]
                    heating_available_readonly: null
                    heating_available: true
                    max_heat_setpoint: { celsius: 30, fah: 86 }
                    max_heat_setpoint_values: [
                      { celsius: 19, fah: 66 },
                      { celsius: 20, fah: 68 },
                      { celsius: 21, fah: 70 },
                      { celsius: 22, fah: 72 },
                      { celsius: 23, fah: 74 },
                      { celsius: 24, fah: 75 },
                      { celsius: 25, fah: 77 },
                      { celsius: 26, fah: 79 },
                      { celsius: 27, fah: 81 },
                      { celsius: 28, fah: 83 },
                      { celsius: 29, fah: 84 },
                      { celsius: 30, fah: 86 }
                    ]
                    cooling_available_readonly: null
                    window_sensor_conf: 'deactivate'
                    window_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    presence_sensor_conf: 'deactivate'
                    presence_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    eco_sensor_conf: 'deactivate'
                    eco_sensor_values: [ 'deactivate', 'open', 'closed' ]
                    offset_env_heat_conf: { celsius: 0, fah: 0 }
                    offset_env_heat_values: [
                      { celsius: -2.5, fah: -5 },
                      { celsius: -2, fah: -4 },
                      { celsius: -1.5, fah: -3 },
                      { celsius: -1, fah: -2 },
                      { celsius: -0.5, fah: -1 },
                      { celsius: 0, fah: 0 },
                      { celsius: 0.5, fah: 1 },
                      { celsius: 1, fah: 2 },
                      { celsius: 1.5, fah: 3 },
                      { celsius: 2, fah: 4 },
                      { celsius: 2.5, fah: 5 }
                    ]
                    offset_env_cool_conf: { celsius: 0, fah: 0 }
                    offset_env_cool_values: [
                      { celsius: -2.5, fah: -5 },
                      { celsius: -2, fah: -4 },
                      { celsius: -1.5, fah: -3 },
                      { celsius: -1, fah: -2 },
                      { celsius: -0.5, fah: -1 },
                      { celsius: 0, fah: 0 },
                      { celsius: 0.5, fah: 1 },
                      { celsius: 1, fah: 2 },
                      { celsius: 1.5, fah: 3 },
                      { celsius: 2, fah: 4 },
                      { celsius: 2.5, fah: 5 }
                    ]
                    m010_cold_constant_ventilation: true
                    m010_heat_constant_ventilation: true
                    basic_mode: false
                    max_cool_battery_temperature_conf: { celsius: 17, fah: 63 }
                    range_max_cool_battery_temperature_values: [
                      { celsius: 10, fah: 50 },
                      { celsius: 11, fah: 52 },
                      { celsius: 12, fah: 54 },
                      { celsius: 13, fah: 55 },
                      { celsius: 14, fah: 57 },
                      { celsius: 15, fah: 59 },
                      { celsius: 16, fah: 61 },
                      { celsius: 17, fah: 63 },
                      { celsius: 18, fah: 64 },
                      { celsius: 19, fah: 66 },
                      { celsius: 20, fah: 68 },
                      { celsius: 21, fah: 70 }
                    ]
                    min_heat_battery_temperature_conf: { celsius: 37, fah: 99 }
                    range_min_heat_battery_temperature_values: [
                      { celsius: 33, fah: 91 },
                      { celsius: 34, fah: 93 },
                      { celsius: 35, fah: 95 },
                      { celsius: 36, fah: 97 },
                      { celsius: 37, fah: 99 },
                      { celsius: 38, fah: 100 },
                      { celsius: 39, fah: 102 },
                      { celsius: 40, fah: 104 },
                      { celsius: 41, fah: 106 },
                      { celsius: 42, fah: 108 },
                      { celsius: 43, fah: 109 },
                      { celsius: 44, fah: 111 },
                      { celsius: 45, fah: 113 }
                    ]
                    m010_min_voltage_conf: 2
                    m010_max_voltage_values: [
                      2, 3, 4,  5, 6,
                      7, 8, 9, 10
                    ]
                    m010_max_voltage_conf: 8
                    m010_min_voltage_values: [
                      1, 2, 3, 4,
                      5, 6, 7, 8
                    ]
                    system_type: 'two_tubes'
                    system_type_values: [ 'two_tubes', 'four_tubes' ]
                    name: 'Aidoo Pro Fancoil'
                    step: { fah: 1, celsius: 0.5 }
                    units: 0
                    dualsp_auto_conf: null
                    autochange_time_conf: null
                    autochange_time_values: []
                    autochange_diff_temp_conf: null
                    autochange_diff_temp_values: []
                    ws_connected: true
                    aq_present: false
                    aq_sensor: false
                Advanced configuration for Airzone Energy Meter (device type 'az_energy_clamp'):
                  value:
                    ec_fw: "3.22"
                    ws_connected: true
                    isConnected: true
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: when requesting advanced configuration and user is not admin of the installation
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "400":
          description: >
            Error responses: *badParams*:
              * *badParams*: Error in input value
          content:
            application/json:
              examples:
                badParams:
                  $ref: "#/components/examples/badParams"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *deviceNotFound*, *deviceNotConnected*, *userNotIncluded*.
              * *deviceNotFound*: happens when the ws Id doesn't refer to any ws in the user's installation
              * *userNotIncluded*: when the user doesn't belong to the installation
              * *deviceNotConnected*: device must be online to request configuration.
          content:
            application/json:
              examples:
                deviceNotFound:
                  $ref: "#/components/examples/deviceNotFound"
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
                deviceNotConnected:
                  $ref: "#/components/examples/deviceNotConnected"
              schema:
                $ref: "#/components/schemas/error-response"

  /devices/{deviceId}/status:
    parameters:
      - in: path
        name: deviceId
        schema:
          type: string
        required: true
        description: The Device's id
      - in: query
        name: installation_id
        schema:
          type: string
        required: true
        description: The Installation's id to which the device belongs
    get:
      security:
        - bearerAuth: []
      summary: Get the device's state
      tags:
        - Devices
      responses:
        "200":
          description: Successful. Returning device's state
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AidooDevice_StatusConf_Obj"
                  - $ref: "#/components/schemas/AidooITDevice_Status_Obj"
                  - $ref: "#/components/schemas/AZDevice_Status_Obj"
                  - $ref: "#/components/schemas/AZSystem_Status_Obj"
                  - $ref: "#/components/schemas/AZACS_Status_Obj"
                  - $ref: "#/components/schemas/AZEnergyClamp_Status_Obj"
                  - $ref: "#/components/schemas/AZDeshum_Status_Obj"
                  - $ref: "#/components/schemas/AidooACS_Status_Obj"
                  - $ref: "#/components/schemas/AZRelay_Status_Obj"
                  - $ref: "#/components/schemas/AZVMC_Status_Obj"
                  - $ref: "#/components/schemas/AidooVMCDevice_Status_Obj"
              examples:
                Airzone thermostat device for VAF systems (Auto mode with double setpoint) (device type az_zone):
                  value:
                    mode: 3
                    auto_mode: null
                    double_sp: false
                    usermode_values: [ 'stop', 'comfort', 'unoccupied', 'night', 'eco', 'vacation' ]
                    usermode_conf: 'comfort'
                    autochange_diff_temp_conf: { celsius: 1, fah: 2 }
                    name: 'ZONE 01'
                    mode_available: [ 3, 6, 2, 1 ]
                    active: true
                    air_active: true
                    step: { fah: 1, celsius: 0.5 }
                    zone_sched_available: true
                    setpoint_air_heat: { celsius: 17, fah: 63 }
                    setpoint_air_emerheat: { celsius: 17, fah: 63 }
                    setpoint_air_cool: { celsius: 22.5, fah: 73 }
                    setpoint_air_dry: { celsius: 22.5, fah: 73 }
                    range_sp_cool_air_max: { celsius: 30, fah: 86 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 30, fah: 86 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 29, fah: 84 }
                    range_sp_hot_air_min: { celsius: 15, fah: 59 }
                    range_sp_emerheat_air_max: { celsius: 29, fah: 84 }
                    range_sp_emerheat_air_min: { celsius: 15, fah: 59 }
                    speed_values: [ 0, 1, 2, 3 ]
                    speed_type: 1
                    speed_conf: 2
                    local_vent: false
                    power: true
                    aq_quality: null
                    aqpm10: null
                    aqpm2_5: null
                    aqpm1_0: null
                    timer: { value: 0, action: {} }
                    timer_values: [ 0, 30, 60, 90 ]
                    rad_active: false
                    local_temp: { celsius: 17.1, fah: 63 }
                    zone_work_temp: { celsius: 17.1, fah: 63 }
                    humidity: 30
                    isConnected: true
                    ws_connected: true
                Airzone thermostat device with purification module (device type az_zone):
                  value:
                    mode: 3                                                                                                                                          12:01:14 [16/1930]
                    auto_mode: null
                    double_sp: false
                    eco_conf: 'off'
                    aq_present: true
                    name: 'Purification'
                    active: false
                    air_active: false
                    step: { fah: 2, celsius: 1 }
                    zone_sched_available: true
                    setpoint_air_stop: { celsius: 22.5, fah: 73 }
                    setpoint_air_cool: { celsius: 22.5, fah: 73 }
                    setpoint_air_dry: { celsius: 22.5, fah: 73 }
                    setpoint_air_vent: { celsius: 22.5, fah: 73 }
                    range_sp_real_cool_max: { celsius: 30, fah: 86 }
                    range_sp_real_cool_min: { celsius: 15, fah: 59 }
                    range_sp_stop_air_max: { celsius: 25.5, fah: 78 }
                    range_sp_stop_air_min: { celsius: 19.5, fah: 67 }
                    range_sp_vent_air_max: { celsius: 25.5, fah: 78 }
                    range_sp_vent_air_min: { celsius: 19.5, fah: 67 }
                    power: true
                    aq_quality: 'good'
                    aqpm10: 3
                    aqpm2_5: 1
                    aqpm1_0: 2
                    sleep: 0
                    sleep_values: [ 0, 30, 60, 90 ]
                    rad_active: false
                    local_temp: { celsius: 23, fah: 73 }
                    zone_work_temp: { celsius: 23, fah: 73 }
                    humidity: 41
                    aq_mode_conf: 'auto'
                    aq_mode_values: [ 'off', 'on', 'auto' ]
                    aq_active: false
                    isConnected: true
                    range_sp_cool_air_max: { celsius: 26, fah: 79 }
                    range_sp_cool_air_min: { celsius: 20, fah: 68 }
                    range_sp_dry_air_max: { celsius: 26, fah: 79 }
                    range_sp_dry_air_min: { celsius: 20, fah: 68 }
                    range_sp_hot_air_max: { celsius: 25.5, fah: 78 }
                    range_sp_hot_air_min: { celsius: 19.5, fah: 67 }
                    range_sp_real_heat_max: { celsius: 30, fah: 86 }
                    range_sp_real_heat_min: { celsius: 15, fah: 59 }
                    ws_connected: true
                    setpoint_air_heat: { celsius: 22.5, fah: 73 }
                Airzone DHW device (device_type az_acs):
                  value:
                    tank_temp: { celsius: 51.5, fah: 124 }
                    power: true
                    block_setpoint: false
                    setpoint: { celsius: 55, fah: 131 }
                    powerful_mode: false
                    range_sp_acs_min: { celsius: 30, fah: 86 }
                    range_sp_acs_max: { celsius: 60, fah: 140 }
                    isConnected: true
                    step: { fah: 1, celsius: 1 }
                    acs_sched_available: true
                    ws_sched_param_indep: true
                    ws_connected: true
                Airzone Relay device (device_type az_relay):
                  value:
                    power: false
                    isConnected: true
                    relay_sched_available: true
                    ws_sched_param_indep: true
                Airzone Mechanical ventilation device (device_type az_vmc):
                  value:
                    power: true
                    isConnected: true
                    vmc_sched_available: true
                    ws_sched_param_indep: true
                    ws_connected: true
                Airzone Energy Meter (device_type az_energy_clamp):
                  value:
                    isConnected: true
                    energy_hour_latest: 0.1
                    energy_hour_latest_date: "2024-04-01T08:00:00.000Z"
                    ws_connected: true
                Aidoo DHW device (device_type aidoo_acs):
                  value:
                    isConnected: true
                    connection_date: '2024-01-17T09:55:32.312Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    power: true
                    block_setpoint: false
                    powerful_mode: false
                    range_sp_acs_max: { celsius: 60, fah: 140 }
                    range_sp_acs_min: { celsius: 40, fah: 104 }
                    setpoint: { celsius: 48, fah: 118 }
                    tank_temp: { celsius: 45.5, fah: 114 }
                    speed_type: 0
                    step: { fah: 1, celsius: 1 }
                    acs_sched_available: true
                    tt_units: 0
                    active: true
                    rad_active: true
                Aidoo WiFi (device type 'aidoo') (auto mode with single setpoint):
                  value:
                    machineready: true,                                                                                                                                    12:08:01 [116/1912]
                    errors: []
                    manufacturer: { _id: 8, text: 'DA1' }
                    power: false
                    step: { fah: 1, celsius: 1 }
                    mode: 2
                    mode_available: [ 1, 2, 3, 4, 5 ]
                    setpoint_air_cool: { celsius: 25, fah: 77 }
                    setpoint_air_heat: { celsius: 30, fah: 86 }
                    speed_values: [ 2, 6 ]
                    speed_type: 0
                    speed_conf: 2
                    tai_temp: { celsius: null, fah: null }
                    local_temp: { celsius: 21.1, fah: 70 }
                    setpoint_air_auto: { celsius: 25, fah: 77 }
                    range_sp_cool_air_max: { celsius: 32, fah: 90 }
                    range_sp_cool_air_min: { celsius: 16, fah: 61 }
                    range_sp_hot_air_max: { celsius: 32, fah: 90 }
                    range_sp_hot_air_min: { celsius: 16, fah: 61 }
                    range_sp_auto_air_max: { celsius: 32, fah: 90 }
                    range_sp_auto_air_min: { celsius: 16, fah: 61 }
                    pspeed: 50
                    block_autospeed: false
                    block_autotemp: false
                    block_dryspeed: true
                    block_drytemp: true
                    block_fantemp: true
                    isConnected: true
                    connection_date: '2021-07-24T08:33:35.576Z'
                    disconnection_date: '2021-07-24T09:03:44.164Z'
                    ws_sched_calendar_available: false
                    ws_sched_available: true
                    timer: { value: 0, count: 0 }
                    timer_values: [ 0, 30, 60, 90 ]
                    ws_connected: true
                    fallback_active: false
                    warnings: []
                    active: false
                    double_sp: false
                    zone_work_temp: { celsius: 21.1, fah: 70 }
                    air_active: false
                    aq_present: false
                Aidoo Pro Inverter/VRF(device type 'aidoo_it'):
                  value:
                    machineready: true
                    errors: []
                    timer: { value: 0, count: 0, action: {} }
                    timer_values: [ 0, 30, 60, 90 ]
                    warnings: []
                    fallback_active: false
                    isConnected: true
                    connection_date: '2022-04-12T12:54:34.190Z'
                    speed_type: 0
                    step: { fah: 1, celsius: 1 }
                    ws_sched_calendar_available: false
                    ws_sched_available: true
                    range_air_max: { celsius: 30, fah: 86 }
                    range_air_min: { celsius: 15, fah: 59 }
                    tt_units: 0
                    manufacturer: { _id: 23, text: 'Hitachi RAD' }
                    power: false
                    active: false
                    mode: 3
                    double_sp: false
                    mode_available: [ 1, 2, 3, 4, 5 ]
                    speed_conf: 1
                    speed_values: [ 0, 1, 2, 4, 6 ]
                    range_sp_cool_air_min: { celsius: 16, fah: 61 }
                    range_sp_cool_air_max: { celsius: 32, fah: 90 }
                    range_sp_hot_air_min: { celsius: 16, fah: 61 }
                    range_sp_hot_air_max: { celsius: 32, fah: 90 }
                    range_sp_dry_air_min: { celsius: 16, fah: 61 }
                    range_sp_dry_air_max: { celsius: 32, fah: 90 }
                    range_sp_vent_air_min: { celsius: 16, fah: 61 }
                    range_sp_vent_air_max: { celsius: 32, fah: 90 }
                    range_sp_auto_air_min: { celsius: 22, fah: 72 }
                    range_sp_auto_air_max: { celsius: 28, fah: 82 }
                    dualsp_auto_conf: null
                    autochange_diff_temp_conf: null
                    block_fantemp: true
                    block_drytemp: false
                    block_dryspeed: false
                    block_autotemp: false,
                    block_autospeed: false
                    setpoint_air_cool: { celsius: 25, fah: 77 }
                    setpoint_air_heat: { celsius: 23, fah: 73 }
                    setpoint_air_dry: { celsius: 25, fah: 77 }
                    setpoint_air_vent: { celsius: 25, fah: 77 }
                    setpoint_air_auto: { celsius: 25, fah: 77 }
                    tai_temp: { celsius: null, fah: null }
                    local_temp: { celsius: 27, fah: 81 }
                    ws_connected: true
                    auto_mode: null
                    zone_work_temp: { celsius: 27, fah: 81 }
                    air_active: false
                Aidoo Pro Inverter/VRF  (device type 'aidoo_it') with AirQ sensor:
                  value:
                    isConnected: true
                    connection_date: '2024-01-08T09:25:12.290Z'
                    disconnection_date: '2024-01-08T10:16:58.162Z'
                    ws_connected: true
                    aq_co2: 819
                    aq_tvoc: 142
                    machineready: true
                    errors: []
                    timer: { value: 0, count: 0, action: {} }
                    timer_values: [ 0, 30, 60, 90 ]
                    aq_present: true
                    airq: true
                    warnings: []
                    aq_vent_active: true
                    aq_quality: 'good'
                    aq_score: 96
                    aq_pressure: 1022
                    aqpm1_0: 2
                    aqpm2_5: 3
                    aqpm10: 2
                    aq_vent_mode_conf: 'on'
                    aq_vent_mode_values: [ 'off', 'on', 'auto' ]
                    aq_active: null
                    aq_mode_conf: null
                    aq_mode_values: []
                    fallback_active: false
                    manufacturer: { _id: 10, text: 'MHI' }
                    autochange_diff_temp_conf: null
                    autochange_diff_temp_values: []
                    block_autospeed: false
                    block_autotemp: false
                    block_dryspeed: false
                    block_drytemp: false
                    block_fantemp: false
                    dualsp_auto_conf: false
                    double_sp: false
                    humidity: 45
                    mode_available: [ 1, 2, 3, 4, 5 ]
                    range_sp_auto_air_max: { celsius: 30, fah: 86 }
                    range_sp_auto_air_min: { celsius: 18, fah: 64 }
                    range_sp_cool_air_max: { celsius: 30, fah: 86 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 30, fah: 86 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 30, fah: 86 }
                    range_sp_hot_air_min: { celsius: 16, fah: 61 }
                    range_sp_vent_air_max: { celsius: 30, fah: 86 }
                    range_sp_vent_air_min: { celsius: 18, fah: 64 }
                    rs845_mode: 2
                    step: { fah: 1, celsius: 0.5 }
                    speed_values: [ 2, 3, 4, 6 ]
                    speed_type: 0
                    tt_units: 0
                    power: true
                    setpoint_air_auto: { celsius: 29, fah: 84 }
                    setpoint_air_dry: { celsius: 29, fah: 84 }
                    setpoint_air_cool: { celsius: 29, fah: 84 }
                    setpoint_air_vent: { celsius: 29, fah: 84 }
                    setpoint_air_heat: { celsius: 29, fah: 84 }
                    mode: 3
                    auto_mode: null
                    tai_temp: { celsius: null, fah: null }
                    local_temp: { celsius: 22, fah: 72 }
                    zone_work_temp: { celsius: 22, fah: 72 }
                    speed_conf: 2
                    active: true
                    air_active: true
                    ws_sched_calendar_available: false
                    ws_sched_available: true
                    range_air_max: { celsius: 30, fah: 86 }
                    range_air_min: { celsius: 15, fah: 59 }
                    aq_vent_mode: null
                Aidoo Pro Fancoil (device type 'aidoo_it'):
                  value:
                    machineready: true
                    errors: []
                    timer: { value: 0, count: 0, action: {} }
                    timer_values: [ 0, 30, 60, 90 ]
                    warnings: []
                    local_temp: { celsius: 21.9, fah: 71 }
                    fallback_active: false
                    manufacturer: { _id: 41, text: 'Aidoo Pro Fancoil' }
                    power: false
                    active: false
                    mode: 3
                    mode_available: [ 2, 3, 4 ]
                    speed_values: [ 0, 2, 4, 6 ]
                    speed_type: 0
                    speed_conf: 2
                    range_sp_cool_air_max: { celsius: 30, fah: 86 }
                    range_sp_cool_air_min: { celsius: 18, fah: 64 }
                    range_sp_dry_air_max: { celsius: 30, fah: 86 }
                    range_sp_dry_air_min: { celsius: 18, fah: 64 }
                    range_sp_hot_air_max: { celsius: 30, fah: 86 }
                    range_sp_hot_air_min: { celsius: 15, fah: 59 }
                    tai_temp: { celsius: null, fah: null }
                    humidity: 54
                    auto_ovr_mode_enabled: null
                    block_mode: null
                    setpoint_air_vent: { celsius: 15, fah: 59 }
                    setpoint_air_cool: { celsius: 22, fah: 72 }
                    setpoint_air_dry: { celsius: 22, fah: 72 }
                    setpoint_air_heat: { celsius: 22, fah: 72 }
                    name: 'Aidoo Pro Fancoil'
                    block_autospeed: false
                    block_autotemp: false
                    block_dryspeed: false
                    block_drytemp: false
                    block_fantemp: true
                    isConnected: true
                    connection_date: '2022-03-18T14:04:29.590Z'
                    step: { fah: 1, celsius: 0.5 }
                    ws_sched_calendar_available: false
                    ws_sched_available: true,
                    range_air_max: { celsius: 30, fah: 86 }
                    range_air_min: { celsius: 15, fah: 59 }
                    tt_units: 0
                    double_sp: false
                    dualsp_auto_conf: null
                    autochange_diff_temp_conf: null
                    ws_connected: true
                    auto_mode: null
                    zone_work_temp: { celsius: 21.9, fah: 71 }
                    air_active: false
                Aidoo Pro Aerothermia climate component (device type 'aidoo_it') working in water mode:
                  value:
                    isConnected: true
                    connection_date: '2023-10-17T10:50:01.254Z'
                    ws_connected: true
                    machineready: true
                    errors: []
                    power: false
                    block_setpoint: false
                    active: true
                    rad_active: true
                    powerful_mode: false
                    tank_temp: { celsius: 9, fah: 48 }
                    speed_type: 0
                    step: { fah: 1, celsius: 1 }
                    acs_sched_available: true
                    tt_units: 0
                    range_sp_acs_min: { celsius: 30, fah: 86 }
                    range_sp_acs_max: { celsius: 55, fah: 131 }
                    setpoint: { celsius: 49, fah: 120 }
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: if user isn't allowed access to the device
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "400":
          description: >
            Error responses: *badParams*:
              * *badParams*: Error in input value
          content:
            application/json:
              examples:
                badParams:
                  $ref: "#/components/examples/badParams"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *deviceNotFound*, *userNotIncluded*.
              * *deviceNotFound*: happens when the ws Id doesnt refer to any ws in the user's installation
              * *userNotIncluded*: when the user doesnt belong to the installation
          content:
            application/json:
              examples:
                deviceNotFound:
                  $ref: "#/components/examples/deviceNotFound"
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
              schema:
                $ref: "#/components/schemas/error-response"

  /devices/ws/{wsId}/status:
    parameters:
      - in: path
        name: wsId
        schema:
          type: string
        required: true
        description: The Webserver's id
      - in: query
        name: installation_id
        schema:
          type: string
        required: true
        description: The Installation's id to which the webserver belongs
      - in: query
        name: devices
        schema:
          type: string
        required: false
        description: if 1, returns all the ws devices. User must be admin.
        example: "1"
    get:
      security:
        - bearerAuth: []
      summary: >
        Request the webserver's status and config. User must belong to the installation. If devices query parameter is set to 1,
        then the devices will also be returned (user must be admin)
      tags:
        - Devices
      responses:
        "200":
          description: Successful. Returning webserver information
          content:
            application/json:
              schema:
                type: object
                description: webserver information
                properties:
                  ws_type:
                    $ref: "#/components/schemas/ws_type"
                  config:
                    $ref: "#/components/schemas/WebserverStatusObj"
                  status:
                    $ref: "#/components/schemas/WebserverConfigObj"
                  devices:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                          description: Id of the device
                          example: 5fa16a35fec9d36b122c7953
                        name:
                          nullable: true
                          type: string
                          description: Name set to the device (if it has)
                          example: Salón
                        device_type:
                          type: string
                          description: Type of the device
                          enum:
                            [
                              aidoo,
                              aidoo_it,
                              aidoo_acs,
                              az_zone,
                              az_system,
                              az_energy_clamp,
                              az_acs,
                              az_outputs,
                              az_vmc,
                              az_relay,
                              az_dehumidifier,
                            ]
                          example: az_zone
                        config:
                          type: object
                          nullable: true
                          description: additional configuration of the device
                          properties:
                            system_number:
                              type: number
                              description: System number. All devices with same system number belong to the same system.
                              example: 1
                            zone_number:
                              type: number
                              description: Zone number. Only present in Airzone zones
                              example: 1
              examples:
                Airzone Webserver (ws_az) (with devices information):
                  value:
                    ws_type: "ws_az"
                    status: {
                      isConnected: true,
                      connection_date: "2024-01-19T06:42:02.538Z",
                      disconnection_date: "2024-01-18T22:04:10.972Z",
                      stat_quality: 2,
                      stat_channel: 4,
                      stat_rssi: -64,
                      sshost: "5dfcf4883563",
                      ip: "1.2.3.4",
                      free_mem: {
                          "free": 16112
                      },
                      cpu_ws: {
                          "general": 72
                      }
                    }
                    config: {
                        mac: "AA:BB:CC:DD:EE:FF",
                        pin: 3029,
                        units: 0,
                        ss_type: "async",
                        tunnel: true,
                        arch: "imx6",
                        ota: true,
                        ws_fw: "4.02",
                        ws_hw: "wifi5G",
                        ws_sched_available: true,
                        server_sched_active: true,
                        stat_channel: 4,
                        stat_ap_mac: "00:00:00:00:00:00",
                        stat_ssid: "MyRouter",
                        conn_type: "wifi",
                        api_version: 2,
                        bt_name: "AZW5GRA3D3",
                        country_code: "ES",
                        ws_sched_param_indep: true,
                        relay_sched_available: true
                    }
                    devices: [
                      {
                          "config": {
                              "system_number": 1,
                              "units": 0,
                              "ss_type": "async"
                          },
                          "device_type": "az_energy_clamp",
                          "device_id": "650b236fd7d76c95272fa265",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "units": 0,
                              "ss_type": "async"
                          },
                          "device_type": "az_outputs",
                          "device_id": "64c27ead4178198de9f5a7db",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 2,
                              "units": 0,
                              "ss_type": "async"
                          },
                          "device_type": "az_relay",
                          "device_id": "6543c82b490603c3d5d4fcc1",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "units": 0,
                              "ss_type": "async"
                          },
                          "device_type": "az_system",
                          "device_id": "6218d4e3d70be980e225204e",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 1,
                              "units": 0,
                              "ss_type": "async",
                              "integrations": [
                                  "google",
                                  "alexa"
                              ]
                          },
                          "device_type": "az_zone",
                          "name": "Living Room",
                          "device_id": "6218d4e3d70be980e225204d",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 2,
                              "units": 0,
                              "ss_type": "async",
                              "integrations": [
                                  "alexa",
                                  "google"
                              ]
                          },
                          "device_type": "az_zone",
                          "name": "Master Bed",
                          "device_id": "64ad76f1fcded6cf2d5b7391",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 3,
                              "units": 0,
                              "ss_type": "async",
                              "integrations": [
                                  "alexa",
                                  "google"
                              ]
                          },
                          "device_type": "az_zone",
                          "name": "Hall",
                          "device_id": "64ad76f1fcded6cf2d5b7392",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 4,
                              "units": 0,
                              "ss_type": "async",
                              "integrations": [
                                  "alexa",
                                  "google"
                              ]
                          },
                          "device_type": "az_zone",
                          "name": "Kids",
                          "device_id": "64ad76f1fcded6cf2d5b7393",
                          "isConnected": true
                      },
                      {
                          "config": {
                              "system_number": 1,
                              "zone_number": 5,
                              "units": 0,
                              "ss_type": "async",
                              "integrations": [
                                  "alexa",
                                  "google"
                              ]
                          },
                          "device_type": "az_zone",
                          "name": "Kitchen",
                          "device_id": "64ad76f1fcded6cf2d5b7394",
                          "isConnected": true
                      }
                    ]
                Aidoo WiFi (ws_aidoo):
                  value:
                    config: {
                      pin: 8319,
                      mac: '01:02:03:04:05:06',
                      units: 0,
                      ws_sched_available: true,
                      ota: false,
                      tunnel: false,
                      ws_hw: 'aidoo',
                      server_sched_active: true,
                      wsmmgroup: 'WSMM7',
                      stat_channel: 11,
                      stat_ssid: 'MyWiFi',
                      conn_type: 'wifi',
                      ws_fw: '3.18',
                      country_code: 'QA'
                    }
                    status: {
                      isConnected: true,
                      sshost: 'skaidoo2.airzonecloud.com',
                      ssport: '443',
                      first_connection_date: '2023-11-25T07:51:32.795Z',
                      pending_ws_schedules_update: false,
                      connection_date: '2024-01-14T19:10:37.000Z',
                      link_process_active: null,
                      stat_rssi: -71,
                      stat_quality: 1,
                      stat_channel: 11,
                      disconnection_date: '2024-01-14T19:10:15.000Z'
                    }
                    ws_type: 'ws_aidoo'
                Aidoo Pro (ws_aidoo):
                  value:
                    config: {
                      mac: 'AB:AB:AB:AB:AB:AB',
                      pin: 6212,
                      units: 1,
                      ws_sched_available: true,
                      server_sched_active: false,
                      ota: true,
                      tunnel: true,
                      ws_fw: '10.06',
                      wsmmgroup: 'WSMM3',
                      stat_channel: 9,
                      stat_ssid: 'Router3',
                      conn_type: 'wifi',
                      country_code: 'US',
                      lmachine_fw: '6.20',
                      ws_hw: 'aidoo_pro'
                    }
                    status: {
                      isConnected: true,
                      sshost: 'skaidoo9.airzonecloud.com',
                      ssport: '443',
                      first_connection_date: '2022-11-28T18:19:00.085Z',
                      pending_ws_schedules_update: false,
                      connection_date: '2024-01-19T07:54:02.000Z',
                      link_process_active: null,
                      stat_rssi: -71,
                      stat_quality: 1,
                      stat_channel: 9,
                      disconnection_date: '2024-01-19T07:54:01.000Z'
                    }
                    ws_type: 'ws_aidoo'
        "400":
          description: >
            Error responses: *badParams*.
              * *badParams*: input validation error.
          content:
            application/json:
              examples:
                badParams:
                  $ref: "#/components/examples/badParams"
              schema:
                $ref: "#/components/schemas/error-response"
        "403":
          description: >
            Error responses: *notAuthorized*.
              * *notAuthorized*: if devices === 1 and user is not admin of the installation
          content:
            application/json:
              examples:
                notAuthorized:
                  $ref: "#/components/examples/notAuthorized"
              schema:
                $ref: "#/components/schemas/error-response"
        "422":
          description: >
            Error responses: *deviceNotFound*, *userNotIncluded*.
              * *deviceNotFound*: happens when the ws Id doesnt refer to any ws in the user's installation
              * *userNotIncluded*: when the user doesnt belong to the installation
          content:
            application/json:
              examples:
                deviceNotFound:
                  $ref: "#/components/examples/deviceNotFound"
                userNotIncluded:
                  $ref: "#/components/examples/userNotIncluded"
              schema:
                $ref: "#/components/schemas/error-response"

  /user/:
    get:
      tags:
        - User
      summary: "Returns the user's data"
      description: "Returns the users model data"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user-data-response"

        "400":
          description: >
            Error response:  *userNotExist*
              * *userNotExist*: happens when user making the request doesn't exist
          content:
            application/json:
              examples:
                userNotExist:
                  $ref: "#/components/examples/userNotExist"
              schema:
                $ref: "#/components/schemas/error-response"

  /user/logout:
    get:
      tags:
        - User
      summary: "User logout endpoint"
      description: "It invalidates the user's token/refreshToken pair used in the request"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: User logged out correctly.
        '401':
          $ref: '#/components/responses/UnauthorizedError'

tags:
  - name: Auth
    description: Unauthorized requests for user authentication.
  - name: User
    description: Requests used for retreiving the user's data
  - name: Installations
    description: Installation management endpoints.
  - name: Devices
    description: Devices management endpoints. Endpoints for retreiving devices' state and configuration and setting parameters

components:
  examples:
    postInstallationGroupSetpointChange:
      value:
        params:
          setpoint: 23
          power: true
        opts:
          units: 0
    postInstallationGroupModeChange:
      value:
        params:
          mode: 2
    
    speedNotValid:
      value:
        _id: speedNotValid
        msg: Speed value not valid
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    modeNotSupported:
      value:
        _id: modeNotSupported
        msg: The thermostat doesn't support the specified mode.
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    stageNotSupported:
      value:
        _id: stageNotSupported
        msg: The thermostat doesn't support the specified stage.
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    commandNotSupported:
      value:
        _id: commandNotSupported
        msg: Command not supported
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    commandNotSupportedMode:
      value:
        _id: commandNotSupportedMode
        msg: Unable to execute the specified command with the actual unit mode
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    userNotIncluded:
      value:
        _id: userNotIncluded
        msg: User not included in installation
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    locationNotValid:
      value:
        _id: locationNotValid
        msg: Location ID is invalid
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    locationNotFound:
      value:
        _id: locationNotFound
        msg: Location Not found
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    deviceNotConnected:
      value:
        _id: deviceNotConnected
        msg: Device not connected
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    deviceAssociated:
      value:
        _id: deviceAssociated
        msg: Device already linked
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    userNotAvailable:
      value:
        _id: userNotAvailable
        msg: User already exists with provided email
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    oauth2EntityNotExist:
      value:
        _id: oauth2EntityNotExist
        msg: "There is no entity registered for that client id"
        reqId: '7ac4e622-c14f-49da-b902-834515f902eb#50'
    authorizeOauth2Reject:
      value:
        _id: authorizeOauth2Reject
        msg: "Unable to authorize user to oauth2 entity"
        reqId: '7ac4e622-c14f-49da-b902-834515f902eb#50'
    badParams:
      value:
        _id: badParams
        msg: Bad input parameters
        data:
          argument: email
          cause: Should be a valid email
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    badParamsitems:
      value:
        _id: badParams
        msg: Bad input parameters
        data:
          argument: items
          cause: Between 1 and 10 items
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    outOfRange:
      value:
        _id: outOfRange
        msg: Value out of range
        data:
          validRange:
            minimumValue:
              value: 22
              scale: 0
            maximumValue:
              value: 30
              scale: 0
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    tooManySchedules:
      value:
        _id: tooManySchedules
        msg: Installation has already max num of schedules
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    userNotExist:
      value:
        _id: userNotExist
        msg: No user registered with provided data
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    userNotConfirmed:
      value:
        _id: userNotConfirmed
        msg: User not confirmed email
        reqId: "7ac4e622-c14f-49da-b902-834515f902eb#50"
    installationAlreadyAdded:
[...]
